BasedOnStyle: Google
IndentWidth: 2
Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Left

ColumnLimit: 120
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: false
