# https://EditorConfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.txt]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.rst]
indent_style = space
indent_size = 2  # For code examples which may have 2 space indents.

[*.yml]
indent_style = space
indent_size = 2

[*.{h,hpp,c,cc,cpp}]
indent_style = space
indent_size = 2

[*.glsl*]
indent_style = space
indent_size = 2

[configure.ac]
indent_style = space
indent_size = 4

[Makefile.am]
indent_style = tab

[*.sh]
indent_style = space
indent_size = 4

[*.props]
insert_final_newline = false

[*.json]
indent_style = space
indent_size = 4
insert_final_newline = false

[vcpkg.json]
indent_size = 2
