/******************************************************************/
/* some neat @font-face fun - the browsers will use custom fonts. */
/* includes a version for Internet Explorer (.eot native format)  */
/******************************************************************/

@font-face {
	font-family: 'DroidSansRegular';
	src: url('../font/DroidSans.eot');
	src: local('Droid Sans Regular'), local('DroidSans'), url('../font/DroidSans.ttf') format('truetype');
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('../font/DroidSans-Bold.eot');
	src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../font/DroidSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'BitstreamVeraSansMonoRoman';
	src: url('../font/VeraMono.eot');
	src: local('Bitstream Vera Sans Mono Roman'), local('BitstreamVeraSansMono-Roman'), url('../font/VeraMono.ttf') format('truetype');
}

@font-face {
	font-family: 'BitstreamVeraSansMonoBold';
	src: url('../font/VeraMono-Bold.eot');
	src: local('Bitstream Vera Sans Mono Bold'), local('BitstreamVeraSansMono-Bold'), url('../font/VeraMono-Bold.ttf') format('truetype');
}

/* color table specific stuff */
table.none td { border : 0 }
table.color td { width:100px; text-align: center;}

/**************** 
 * main regions *
 ****************/

/* global style */
body {
  background-color: white;
  font-family: DroidSansRegular, verdana, sans-serif;
  font-size: 14px;
  color: black;
  margin: 0px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 150%;
}

/* header region */
div.header {
  margin: 50px 25px 25px 25px;
}

/* breadcrumb */
div.breadcrumb {
  /*height: 47px;*/
  height: auto;
  background-image: url('../img/breadcrumb.png');
	background-repeat: repeat-x;
	background-color: #194675;
}

/* main contents - with a gradient */
div.main {
  position: absolute;
  background-image: url('../img/gradient.png');
	background-repeat: repeat-x;
	width:100%;
	height: 250px;
}

/***************
 * sub regions *
 ***************/

/* breadcrumb text area */
.breadcrumbtext {
  font-family: DroidSansBold, verdana, sans-serif;
  font-weight: bold;
  margin-left: 25px;
}

/* main contents text area */
.maintext {
  margin: 25px;
  font-weight: normal;
  color: black;
}

/***************
 * text styles *
 ***************/ 

/* logo margin - to get rid of an unwanted space after the header div */
.header p {
  line-height: 0;
  margin: 0;
  padding: 0;
}

/* logo style (yeah, an outline :D) */
.title1 {
  color: #7fcb26;
  font-size: 64px;
  text-shadow: -2px 0px 1px #194675,
                2px 0px 1px #194675,
                0px -2px 1px #194675,
                0px 2px 1px #194675,
                -2px -2px 1px #194675,
                -2px 2px 1px #194675,
                2px -2px 1px #194675,
                2px 2px 1px #194675,
                5px 5px 5px #000000;
}
.title2 {
  color: #194675;
  font-size: 64px;
  text-shadow: -2px 0px 1px #7fcb26,
                2px 0px 1px #7fcb26,
                0px -2px 1px #7fcb26,
                0px 2px 1px #7fcb26,
                -2px -2px 1px #7fcb26,
                -2px 2px 1px #7fcb26,
                2px -2px 1px #7fcb26,
                2px 2px 1px #7fcb26,
                5px 5px 5px #000000;
}

/* breadcrumb text and link styles */
.breadcrumb p {
  font-family: DroidSansBold, verdana, sans-serif;
  font-weight: bold;
  color: white;
  padding: 7px 0;
  margin-bottom: 0;
}

.breadcrumb a, .breadcrumb a:active, .breadcrumb a:visited {
  color: #b1ce91;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #7fcb26;
  text-decoration: underline;
}

/* previous and next links */
.breadcrumb a.prev {
  background-image: url('../img/prev.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 0 0 0 20px;
}

.breadcrumb a.next {
  background-image: url('../img/next.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 0 20px 0 0;
}

/* main region text */
.maintext h1, .maintext h2, .maintext h3, .maintext h4, .maintext h5, .maintext h6 {
  font-family: DroidSansBold, verdana, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #444444;
  margin-top: 1em;
  margin-bottom: 1em;
}

.maintext h1 { font-size: 24px; }
.maintext h2 { font-size: 22px; }
.maintext h3 { font-size: 20px; }
.maintext h4 { font-size: 18px; }
.maintext h5 { font-size: 16px; }
.maintext h6 { font-size: 14px; }

.maintext a, .maintext a:active, .maintext a:visited {
  color: #194675;
  text-decoration: none;
  font-family: DroidSansBold, verdana, sans-serif;
  font-weight: bold;
}

.maintext a:hover {
  color: #4e7195;
  text-decoration: underline;
  font-family: DroidSansBold, verdana, sans-serif;
  font-weight: bold;
}

/* code */
div.code {
  background-color: #b1ce91;
  margin: 10px 25px;
  font-family: BitstreamVeraSansMonoRoman, monospace;
  color: #444444;
  border-color: #194675;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.code p {
  padding: 5px 20px;
}

div.code p.c {
  padding: 15px 5px 5px 60px;
	background-image: url('../img/c.png');
	background-position: 15px 5px;
	background-repeat: no-repeat;
}

div.code p.cpp {
  padding: 15px 5px 5px 60px;
	background-image: url('../img/cpp.png');
	background-position: 15px 5px;
	background-repeat: no-repeat;
}

div.code p.cs {
  padding: 15px 5px 5px 60px;
	background-image: url('../img/cs.png');
	background-position: 15px 5px;
	background-repeat: no-repeat;
}

div.code p.py {
  padding: 15px 5px 10px 60px;
	background-image: url('../img/py.png');
	background-position: 15px 5px;
	background-repeat: no-repeat;
}

/* main region tables */
.main table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main table td, .main table th {
  padding: 5px;
}

.main table tr.hilite {
  background-color: #b1ce91;
}

.main table.none {
  border: 0;
}

.main table.param td {
  border: 1px solid #000000;
}

.main table th {
  background-color: #194675;
  color: #7fcb26;
  border: 1px solid #000000;
}

/***************
 * CODE STYLES *
 ***************/

.code-tcod {
  font-family: BitstreamVeraSansMonoBold, monospace;
  font-weight: bold;
}

.code-keyword {
  font-family: BitstreamVeraSansMonoBold, monospace;
  font-weight: bold;
  color: #0000a0;
}

.code-value {
  color: fuchsia;
}

.code-symbol {
  color: red;
}

.code-string {
  color: blue;
}

.code-character {
  color: #e0a020;
}

.code-comment {
  color: gray;
}

.code-preprocessor {
  color: teal;
}

/************************************ 
 * TABLE OF CONTENTS UNIQUE STYLING *
 ************************************/
 
#toc {
  font-size: 11px;
}

#toc ul {
  padding: 0;
  margin: 0;
}

#toc li {
  list-style: none;
  position: relative;
  display: block;
  width: 200px;
  background-color: #b1ce91;
  /* radius - not understood by IE8 and Opera 10.10, but still looks decent */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; /* correct CSS3 syntax, supported only by Opera 10.50+ and IE9 */
  border-style: solid;
  border-color: #194675;
  border-width: 1px;
  padding: 3px 5px;
  margin-top: -1px;
}

#toc li:hover {
  background-color: #7fcb26;
}

#toc li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 0;
  margin: 0;
}

#toc li:hover > ul {
  display: block;
}

#toc li ul li {
  _display: inline; /* hack for IE6 */
}

/* SUBSUB Menu */

#toc li ul li ul {
  display: none;
}

#toc li ul li:hover > ul {
  display: block;
  left: 100%;
  top: 0;
}

/* SUBSUBSUB Menu */

#toc li ul li ul li ul {
  display: none;
}

#toc li ul li ul li:hover ul {
  left: 100%;
  top: 0;
}

/* list items with children will be marked as such */

#toc li.haschildren {
  background-image: url('../img/haschildren.png');
  background-position: 193px 2px;
  background-repeat: no-repeat;
}

#toc li.haschildren a {
  padding-right: 28px;
}

/* category names have a different styling */

#toc li.cat, #toc li.cat:hover {
  background-color: #194675;
  color: #7fcb26;
  text-align: center;
  font-family: DroidSansBold, verdana, sans-serif;
  font-weight: bold;
}
